{{ form_start(form) }}

{% macro mylookForm(eleve) %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(eleve.name) }}
        </div>
        <div class="col-md-3">
            {{ form_row(eleve.prenom) }}
        </div>
        <div class="col-md-5">
            {{ form_row(eleve.dateNaissance) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(eleve.sexe) }}
        </div>
        <div class="col-md-3">
            {{ form_row(eleve.classeroom) }}
        </div>
    </div>
{% endmacro mylookForm %}
{%  import _self as formMacros %}


<div class="alert alert-danger" role="alert">
    {{ form_errors(form) }}
</div>

<div class="">
    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-2">
            {{ form_row(form.civilite) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.name_p1) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.prenom_p1) }}
        </div>
        </div>
    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-5">
             {{ form_row(form.email_p1) }}
        </div>
        <div class="col-md-3">
             {{ form_row(form.telephone_p1) }}
        </div>
        <div class="col-md-2">
             {{ form_row(form.sexe_p1) }}
        </div>
    </div>

    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-2">
            {{ form_row(form.civilite_p2) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.name_p2) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.prenom_p2) }}
        </div>
    </div>
    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-5">
             {{ form_row(form.email_p2) }}
        </div>
        <div class="col-md-3">
             {{ form_row(form.telephone_p2) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.sexe_p2) }}
        </div>
    </div>

    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-5">
             {{ form_row(form.adresse_p1) }}
        </div>
        <div class="col-md-3">
             {{ form_row(form.situation_Familiale) }}
        </div>

    </div>
    <div class="col-sm-12 border-2" id="eleves_list" data-prototype="{{ formMacros.myLookForm(form.eleves.vars.prototype)|e('html_attr')}}" >
        <h3>Eleves</h3>
            {% for eleve in form.eleves %}
        <div class="panel panel-warning border border-primary ml-4 p-3 rounded">
            <div class="panel-heading">
            Eléve (enfant): {{ loop.index }}
            </div>
            <div class="panel-body">
                {{ formMacros.myLookForm(eleve) }}

            </div>

        </div>
            {% endfor %}


    </div>

</div>

{{ form_rest(form) }}
{#    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>#}
{{ form_end(form) }}
