{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
<div class="alert alert-danger" role="alert">
    {{ form_errors(form) }}
</div>

<div class="">
    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-2">
            {{ form_row(form.civilite) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.name_p1) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.prenom_p1) }}
        </div>
        </div>
    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-5">
             {{ form_row(form.email_p1) }}
        </div>
        <div class="col-md-3">
             {{ form_row(form.telephone_p1) }}
        </div>
        <div class="col-md-2">
             {{ form_row(form.sexe_p1) }}
        </div>
    </div>

    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-2">
            {{ form_row(form.civilite_p2) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.name_p2) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.prenom_p2) }}
        </div>
    </div>
    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-5">
             {{ form_row(form.email_p2) }}
        </div>
        <div class="col-md-3">
             {{ form_row(form.telephone_p2) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.sexe_p2) }}
        </div>
    </div>

    <div class="row bd-callout bd-callout-warning">
        <div class="col-md-5">
             {{ form_row(form.adresse_p2) }}
        </div>
        <div class="col-md-3">
             {{ form_row(form.situation_Familiale) }}
        </div>

    </div>
    <div class="wel ml-8 border-2">
        <h3>Eleves</h3>
        <ul class="eleves" id="eleves_list" data-prototype="{{ form_widget(form.eleves.vars.prototype)|e('html_attr') }}">

        {% for eleve in form.eleves %}
            <div class="border border-primary ml-4 p-3 rounded">
                <h3>Eléve (enfant): {{ loop.index }}</h3>
                <div class="row">
                    <div class="col-md-3">
                      <li>  {{ form_row(eleve.name) }}</li>
                    </div>
                    <div class="col-md-3">
                        <li>  {{ form_row(eleve.prenom) }}
                    </div>
                    <div class="col-md-5">
                        <li>    {{ form_row(eleve.dateNaissance) }}</li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <li>  {{ form_row(eleve.sexe) }}</li>
                    </div>
                    <div class="col-md-3">
                        <li>   {{ form_row(eleve.classeroom) }}</li>
                    </div>
                </div>


                <div class="row d-none">
                    <div class="col-md-3 d-none">
                        {#                        {{ form_row(eleve.telephone) }}#}

                        {#                        {{ form_row(eleve.email) }}#}

                        {#                        {{ form_row(eleve.parent_p1_p2) }}#}
                    </div>
                </div>
            </div>
        {% endfor %}
        </ul>

        <button type="button" class="btn btn-info add_eleve_link">Add a eleve</button>
</div>

{{ form_rest(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
