{% extends 'base.html.twig' %}

{% block title %}MatiereCour{% endblock %}

{% block body %}
    <h1>MatiereCour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere_cour.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ matiere_cour.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ matiere_cour.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ matiere_cour.date ? matiere_cour.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('matiere_cour_index') }}">back to list</a>

    <a href="{{ path('matiere_cour_edit', {'id': matiere_cour.id}) }}">edit</a>

    {{ include('matiere_cour/_delete_form.html.twig') }}
{% endblock %}
